# This is to create data - Source :  https://chrisalbon.com/#Python

In [1]:
import pandas as pd
from sklearn.datasets import make_classification

In [2]:
features, output = make_classification(n_samples = 100,
                                       # ten features
                                       n_features = 10,
                                       # five features that actually predict the output's classes
                                       n_informative = 5,
                                       # five features that are random and unrelated to the output's classes
                                       n_redundant = 5,
                                       # three output classes
                                       n_classes = 3,
                                       # with 20% of observations in the first class, 30% in the second class,
                                       # and 50% in the third class. ('None' makes balanced classes)
                                       weights = [.2, .3, .5])

In [3]:
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7,8,9
0,1.700492,2.893814,0.412511,-2.649020,0.902613,-1.362120,2.529393,3.206048,1.264807,1.060793
1,0.746075,-1.565496,1.674270,-0.525217,1.105923,-0.639028,-1.458882,2.030577,-0.119613,-0.635294
2,-1.457533,1.302248,-1.990076,-1.265126,0.752138,-1.467665,1.952496,-0.419305,-1.491557,0.338959
3,1.461632,4.681499,-1.503595,-1.618291,0.251513,1.861048,2.531862,-2.577845,0.854022,2.210660
4,2.063784,1.478858,1.547084,-0.608986,-0.883292,-0.387526,1.284999,3.456257,2.719132,0.495352

In [4]:
pd.DataFrame(output).head()

   0
0  2
1  0
2  0
3  1
4  2